.modal-box

    display: flex
    height: calc(100vh - 40px)
    align-items: stretch
    overflow: hidden

    +element("column")

        +modifier("content")
            height: 100%
            position: relative
            flex-grow: 1
            max-width: 100%

        +modifier("sidebar")
            opacity: 1
            min-width: 285px
            margin-right: 0
            transition: margin-right .75s, opacity .75s

        +modifier("sidebar-collapsed")
            opacity: 0
            margin-right: -295px
            transition: margin-right .75s, opacity .75s

        +element("transcluded")
            height: 100%

        +element("footer")
            position: absolute
            right: 20px
            bottom: 20px